body {
    font-size: 12px;
    margin: 0px;
}

.bg {
    background-image: url("../img/bg.png");
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
}

.container{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.title h1 {
    margin: 10px;
    text-align: center;
    font-family: RetroGaming;
    color: white;
    -webkit-text-stroke: 1px #000000;
}

.title{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    max-height: 200px;
    min-width: 328px;
    height: auto;
}

.character-selection{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20%;
    width: 100%;
    min-height: 106px;
    max-height: 206px;
    min-width: 328px;
    max-width: 600px ;
    margin: 0px auto;
}

/* .rock, .paper, .scissor{
    
    background-image: url(../img/Caja\ Piedra.svg);
    background-size: cover;
    height: 100%;
    width: 30%;
    min-width: 100px;
    max-width: 116px;
    min-height:96px;
    max-height:136px;
    padding: 5px;
} */

.rock{
    
    background-image: url(../img/Caja\ Piedra.svg);
    background-size: cover;
    height: 100%;
    width: 30%;
    min-width: 100px;
    max-width: 116px;
    min-height:96px;
    max-height:136px;
    padding: 5px;
}

.paper{
    
    background-image: url(../img/Caja\ papel.svg);
    background-size: cover;
    height: 100%;
    width: 30%;
    min-width: 100px;
    max-width: 116px;
    min-height:96px;
    max-height:136px;
    padding: 5px;
    
}

.scissor{
    
    background-image: url(../img/Caja\ Tijera.svg);
    background-size: cover;
    height: 100%;
    width: 30%;
    min-width: 100px;
    max-width: 116px;
    min-height:96px;
    max-height:136px;
    padding: 5px;
}

.fighting{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35%;
    width: 100%;
    min-height: 213px;
    max-height: 350px; /* 350 */
    min-width: 328px;
    max-width: 600px;
    margin: 0px auto;
}

/* .user, .pc{
    
    background-image: url("../img/Frame\ Usuario.svg");
    background-size: cover;
    align-self: center;
    padding: 10px;
    height: 180px;
    width: 100%;
    flex-grow: 1;
    scale: 1;
    
} */

.user{
    
    background-image: url("../img/Frame\ Usuario.svg");
    background-size: cover;
    align-self: center;
    padding: 10px;
    height: 180px;
    width: 100%;
    flex-grow: 1;
}

.pc{
    
    background-image: url("../img/Frame\ PC.svg");
    background-size: cover;
    align-self: center;
    padding: 10px;
    height: 180px;
    width: 100%;
    flex-grow: 1;
    transform: scaleX(-1);
}

.vs{
    background-image: url("../img/Frame\ VS.svg");
    background-size: cover;
    padding: 10px;
    height: 97px;
    width: 205px;
    flex-grow: 0;   
}

.winer p {
    text-align: center;
    font-family: RetroGaming;
    color: #A697BC;
    -webkit-text-stroke: 1px #FFFFFF;
    margin: 0px;
}

.winer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10%;
    font-size: 2.5rem;
    border: 4px dashed #FFFFFF;
    border-radius: 6px;
    max-height: 200px;
    min-width: 328px;
    max-width: 600px ;
    margin: 5px auto;
}

@media (width>=450px){
    .user{
        background-image: url(../img/Frame\ Usuario.svg);
        background-size: cover;
        align-self: center;
        padding: 10px;
        height: 235px;
        width: 100%;
        flex-grow: 1;
    }   
    .pc {
        background-image: url(../img/Frame\ PC.svg);
        background-size: cover;
        align-self: center;
        padding: 10px;
        height: 235px;
        width: 100%;
        flex-grow: 1;
    }   
}

@media (width >= 550px){
    .user{
    background-image: url(../img/Frame\ Usuario.svg);
    background-size: cover;
    align-self: center;
    padding: 10px;
    height: 280px;
    width: 100%;
    flex-grow: 1;
    }
    .pc {
    background-image: url(../img/Frame\ PC.svg);
    background-size: cover;
    align-self: center;
    padding: 10px;
    height: 280px;
    width: 100%;
    flex-grow: 1;
    }
}

@media (width>=600px){
    .user{
        background-image: url(../img/Frame\ Usuario.svg);
        background-size: cover;
        align-self: center;
        padding: 10px;
        height: 325px;
        width: 100%;
        flex-grow: 1;
    }
    .pc {
        background-image: url(../img/Frame\ PC.svg);
        background-size: cover;
        align-self: center;
        padding: 10px;
        height: 325px;
        width: 100%;
        flex-grow: 1;
    }
}



/* Clases para agregar y eliminar */


